h1{
    background-color: maroon;
    color: whitesmoke;
    text-align: center;
    padding: 20px 20px 20px 20px;
}

body{
    text-align: center;

}

html{
    background-color: rgb(166, 209, 164);
}